:root {
    --primary: hsl(172, 67%, 45%);
    --secondary: hsl(183, 100%, 15%);
    --darkCyan: hsl(186, 14%, 43%);
    --cyan75: hsl(184, 14%, 56%);
    --cyan50: hsl(185, 41%, 84%);
    --cyan25: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --red: #E63946;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box; 
}

html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
    background-color: var(--cyan50);
    
    font-family: 'Space Mono', sans-serif;
    font-size: 62.5%;
}

a, button, input {
    font-family: 'Space Mono';
}

/* Main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Box */
#box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    
    background-color: var(--white);
    border-radius: 3rem;
}



/* Calculator */
#calculator {
    align-items: center;
    padding: 3rem;
    margin: 1rem;
}



/* Bill */
#calculator #bill {
    margin: 0 0 2rem 0;
    
    font-size: 1rem;
    color: var(--darkCyan)
}

#calculator #bill .titles {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#calculator #bill .titles h3 {
    display: none;

    color: var(--red);
    font-size: 1.2rem;
}
#calculator #bill .titles h3.active {
    display: block;
}

#calculator #bill .billInput {
    width: 100%;
    height: 4rem;
    padding: 2rem;
    margin: 0.2rem 0 2rem 0;
    
    background-color: var(--cyan25);
    background-image: url('./images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: 10px;
    border-radius: 0.5rem;
    
    outline-width: 1px;
    outline-color: var(--primary);

    color: var(--secondary);
    text-align: end;
    font-size: 1.8rem;
    font-weight: bold;
}
#calculator #bill .billInput.error {
    outline-color: var(--red);
    border: 1px solid var(--red);
}


/* Select Tip */
#calculator #selectTip h2 {
    font-size: 1.4rem;
    color: var(--darkCyan)
}

#calculator #selectTip #buttons {
    display: grid;
    grid-template-columns: 11rem 11rem 11rem;
    grid-template-rows: 4rem 4rem;
    gap: 1rem;

    margin: 1rem 0 3rem 0 ;
}

#calculator #selectTip #buttons button {
    transition: .5s;
    outline: none;
    cursor: pointer;

    background-color: var(--secondary);
    border: none;
    border-radius: 0.5rem;
    
    color: var(--white);
    font-family: 'Space Mono', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
#calculator #selectTip #buttons button:hover {
    filter: brightness(1.2);
    background-color: var(--primary);
    
    color: var(--secondary);
}
#calculator #selectTip #buttons button.selected {
    background-color: var(--primary);
    
    color: var(--secondary);
}

#calculator #selectTip #buttons input#customTip {
    padding: 1rem;
    
    background-color: var(--cyan25);
    outline-color: var(--primary);
    border-radius: 0.5rem;
    outline: var(--primary);
    
    color: var(--secondary);
    text-align: end;
    font-weight: bold;
    font-size: 2rem;
}
#calculator #selectTip #buttons input::placeholder {
    color: var(--darkCyan);
    text-align: center;
}
#calculator #selectTip #buttons input#customTip.error {
    outline-color: var(--red);
}


/* People Number*/
#calculator #people {
    margin: 4rem 0 0 0;
    
    font-size: 1rem;
    color: var(--darkCyan)
}

#calculator #people .titles {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#calculator #people .titles h3 {
    display: none;

    color: var(--red);
    font-size: 1.2rem;
}
#calculator #people .titles h3.active {
    display: block;
}

#calculator #people .peopleInput {
    width: 100%;
    height: 4rem;
    padding: 2rem;
    margin: 0.2rem 0 0 0;
    
    background-color: var(--cyan25);
    background-image: url('./images/icon-person.svg');
    background-repeat: no-repeat;
    background-position: 10px;
    border-radius: 0.5rem;
    
    outline-width: 1px;
    outline-color: var(--primary);

    color: var(--secondary);
    text-align: end;
    font-size: 1.8rem;
    font-weight: bold;
}
#calculator #people .peopleInput.error {
    outline-color: var(--red);
    border: 1px solid var(--red);
}


/* Results */
#results {
    text-align: center;
    padding: 3rem;
    margin: 2rem;
    
    background-color: var(--secondary);
    border-radius: 2rem;
    
    color: var(--white);
}

#results .values {
    margin: 1rem 0;
    
    font-size: 2rem;
}



/*Amount*/
#results .values .amount {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#results .values .amount h1 {
    margin-left: 7rem;
    
    color: var(--primary);
    font-size: 4rem;
}

#results .values .amount .title h3 {
    margin-bottom: .4rem;

    font-size: 1.4rem;
    text-align: start;
}
#results .values .amount .title h4 {
    color: var(--cyan50);
    font-size: 1.2rem;
    text-align: start;
}


/* Total */
#results .values .total {
    margin-bottom: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#results .values .total h1 {
    margin-left: 7rem;
    
    color: var(--primary);
    font-size: 4rem;
}

#results .values .total .title h3 {
    margin-bottom: .4rem;

    font-size: 1.4rem;
    text-align: start;
}
#results .values .total .title h4 {
    color: var(--cyan50);
    font-size: 1.2rem;
}


/* Reset */
#results .reset button {
    transition: .5s;
    
    margin: 0.5rem auto;
    padding: .8rem;
    display: flex;
    justify-content: center;
    width: 100%;

    cursor: pointer;
    background-color: var(--primary);
    border-radius: 0.5rem;
    
    color: var(--secondary);
    font-size: 2rem;
    font-weight: bold;
}
#results .reset button:hover {
    filter: brightness(1.2);
}

/* Attribution */
#attribution {
    margin: 1rem;
    gap: 0.5rem;
}



/* Responsive Layout */
@media (max-width: 860px) {
  
    html {
        overflow-x: hidden;
        overflow-y: visible;
    }

    /* Main */
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Box */
    #box {
        margin-top: 10vh;
        width: 100%;
        height: 80vh;
        display: block;
        
        background-color: var(--white);
        border-radius: 3rem 3rem 0 0;
    }

    /* Calculator */
    #calculator {
        margin: 0.5rem auto;
    }
    #calculator #bill {
        margin: 0 0 1rem 0;
    }
    
    #calculator #bill .titles h3 {
        display: none;
    
        color: var(--red);
        font-size: 1rem;
    }
    #calculator #bill .titles h3.active {
        display: block;
    }
    
    #calculator #bill .billInput {
        margin: 0.2rem 0 1rem 0;
    }
    
    #calculator #selectTip #buttons {
        display: grid;
        grid-template-columns: 12.5rem 12.5rem;
        grid-template-rows: 4rem 4rem 4rem;
        gap: 1rem;
        justify-content: center;
    
        margin: 1rem auto;
    }

    #calculator #peopleNumber {
        margin: 2rem 0 0 0;
        
        font-size: 1rem;
    }
    
    #calculator #peopleNumber .titles {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    
    #calculator #peopleNumber .titles h3 {
        font-size: 1rem;
    }
    
    #calculator #peopleNumber .peopleInput {
        width: 100%;
        height: 4rem;
        padding: 2rem;
        margin: 0.2rem 0 0 0;
    }
    #calculator #peopleNumber .peopleInput.error {
        outline-color: var(--red);
        border: 1px solid var(--red);
    }


    /* Results */
    #results {
        margin: 0 2.5rem;
    }

    #results .values {
        margin: 1rem 0;
        
        font-size: 1rem;
    }

    #results .values .amount {
        margin-bottom: 1rem;
        display: flex;
    }
    
    #results .values .amount h1 {
        margin-left: 2rem;
        
        color: var(--primary);
        font-size: 2.6rem;
    }
    
    #results .values .amount .title h3 {
        margin-bottom: .4rem;
    
        font-size: 1.2rem;
    }
    #results .values .amount .title h4 {
        font-size: 1rem;
    }

    #results .values .total {
        margin-bottom: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #results .values .total h1 {
        margin-left: 2rem;
        
        color: var(--primary);
        font-size: 2.6rem;
    }
    
    #results .values .total .title h3 {
        margin-bottom: .4rem;
    
        font-size: 1.2rem;
    }
    #results .values .total .title h4 {
        font-size: 1rem;
    }

    #results .reset button {
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: -1rem;
    }
}