:root {
    --primary: hsl(172, 67%, 45%);
    --secondary: hsl(183, 100%, 15%);
    --darkCyan: hsl(186, 14%, 43%);
    --cyan75: hsl(184, 14%, 56%);
    --cyan50: hsl(185, 41%, 84%);
    --cyan25: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box; 
}

html {
    font-family: 'Space Mono', sans-serif;
    font-size: 62.5%;
    overflow: hidden;
}

body {
    background-color: var(--cyan50);
}

body, button, input, textarea {
    font-family: 'Space Mono', sans-serif;
    font-size: clamp(18px, 2.4rem, 4vw);
}

section {
    width: 100vw;
    height: 100vh;
}


/* Areas */
.container {
    background-color: var(--cyan50);      
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20vh;
}

.box {
    width: 50vw;
    height: 50vh;
    background-color: var(--white);
    display: flex;
    padding: 2rem;
    border-radius: 3rem;
}

.attribution {
    text-align: center;
    font-size: 1.2rem;
}


/* Calculator */
.calculator {
    margin: 4rem;
}

.bill {
    margin-bottom: 2.5rem;
}
.bill input {
    background-color: var(--cyan25);
    text-align: end;
    color: var(--secondary);
    font-weight: bold;
    padding: 1rem 4rem;
    outline: none;
    background-image: url('./images/icon-dollar.svg');
    background-position: 10px;
    background-repeat: no-repeat;
    border-radius: 0.6rem;
}
.bill .billInput.error {
    border: solid 2px #E63946;
    opacity: 0.8
}

.bill .titles {
    display: flex;
    justify-content: space-between;
}

.bill .titles h3 {
    display: none;
    font-size: 2rem;
    color: #E63946;
}
.bill .titles h3.active {
    display: block
}

.select-tip #buttons {
    margin: 2rem 0 5rem 0;
    display: grid;
    grid-template-columns: 12rem 12rem 12rem;
    grid-template-rows: 5rem 5rem;
    gap: 1rem;
}

.select-tip #buttons .button {
    transition: .2s;
    background-color: var(--secondary);
    color: var(--white);
    font-weight: 700;
    width: 12rem;
    height: 5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.select-tip #buttons .button:hover {
    transition: .2s;
    filter: brightness(1.2);
    background-color: var(--primary);
    color: var(--secondary);
}
.select-tip #buttons .button.selected {
    transition: .2s;
    background-color: var(--primary);
    color: var(--secondary);
}

.select-tip #buttons input {
    background-color: var(--cyan25);
    text-align: end;
    padding: 1rem;
    color: var(--secondary);
    font-weight: bold;
    border-radius: 0.5rem;
    outline: none;
}
.select-tip #buttons input::placeholder {
    color: var(--darkCyan);
    font-weight: bold;
    text-align: center;
}

.select-tip #buttons input.error {
    border: solid 2px #E63946;
    opacity: 0.8
}   

.peopleNumber input {
    background-color: var(--cyan25);
    text-align: end;
    color: var(--secondary);
    font-weight: bold;
    padding: 1rem 4rem;
    outline: none;
    background-image: url('./images/icon-person.svg');
    background-position: 10px;
    background-repeat: no-repeat;
    border-radius: 0.6rem;
}

.peopleNumber .peopleInput.error {
    border: solid 2px #E63946;
    opacity: 0.8
}

.peopleNumber .titles {
    display: flex;
    justify-content: space-between;
}

.peopleNumber .titles h3 {
    display: none;
    font-size: 2rem;
    color: #E63946;
}
.peopleNumber .titles h3.active {
    display: block
}

/* Results */
#results {
    background-color: var(--secondary);
    width: 60rem;
    margin: 1rem;
    padding: 2rem 0.2rem;
    border-radius: 1.5rem;
}

#results .title {
    display: block;
}

#results .values {
    margin: 2rem
}

#results .values .amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

#results .values .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

#results .reset {
    display: flex;
    justify-content: center;
}

#results .reset button {
    transition: .2s;
    margin: 14rem 0;
    padding: 1.4rem 15rem;
    border-radius: 0.6rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondary);
    background-color: var(--primary);
    cursor: pointer;
}
#results .reset button:hover {
    transition: .2s;
    filter: brightness(1.2);
}

/* Titles & Subtitles */
h2 {
    color: var(--darkCyan);
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
    color: var(--white)
}

h4 {
    font-size: 1.2rem;
    color: var(--cyan50);
    opacity: 0.7;
}

h1 {
    color: var(--primary)
}

